.resizedTextbox {
    width: 100px; 
    height: 50px;
    margin-right: 100px;
    margin-left: 20px;
}
.resizedTextbox2 {
    width: 150px; 
    height: 50px;
    margin-right: 100px;
    margin-left: 20px;
}

.box {
    width: 100px; 
    height: 50px;
    margin-right: 20px;
}

.box2 {
    width: 100px; 
    height: 50px;
    margin-right: 20px;
}

.textbox1 {
    margin-right: 170px;
    margin-left: 70px;
}

.textbox2 {
    margin-right: 190px;
    margin-left: 100px;
}



